* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#first-line {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#line1-first-square, #line1-second-square, #line1-third-square, #line1-fourth-square {
    height: 100%;
    width: 330px;
    background-color: rgb(97, 41, 122);
}

#line1-first-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.line1-first-little-square, #line1-second-little-square, .line1-third-little-square, #line1-fourth-little-square {
    background-color: rgb(55, 89, 180);
    height: 100px;
    width: 100px;
}

#line1-second-square {
    display: flex;
    align-items: center;
    justify-content: center;
}

#line1-third-square {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.line1-third-little-square.up {
    align-self: flex-start;
}

.line1-third-little-square.down {
    align-self: flex-end;
}

#line1-fourth-square {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/*------------- SEGUNDA LINHA -------------*/
#second-line {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

#line2-first-square, #line2-second-square, #line2-third-square {
    height: 100%;
    width: 330px;
    background-color: rgb(97, 41, 122);
}

#line2-little-square, .line2-line1-little-square, .line2-line1-little-square, #line2-first-little-square-test {
    background-color: rgb(55, 89, 180);
    width: 100px;
    height: 100px;
}

#line2-first-square {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.line2-little-line1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#line2-little-line2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#line2-third-square {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* ------------- TERCEIRA LINHA -------------*/
#third-line {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

#line3-first-square, #line3-second-square, #line3-third-square {
    height: 100%;
    width: 330px;
    background-color: rgb(97, 41, 122);
}

.line3-little-square, #line3-little-square {
    background-color: rgb(55, 89, 180);
    width: 100px;
    height: 100px;
}

#line3-first-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.line3-little-square.up {
    align-self: flex-end;
}

.line3-little-square.down {
    align-self: flex-start;
}

#line3-second-square {
    display: flex;
    align-items: center;
    justify-content: center;
}

#line3-third-square {
    display: flex;
    align-items: start;
    justify-content: flex-end;
}

