.square {
    width: 500px;
    height: 500px;
}

.blue {
    background-color: blue;
    width: 500px;
    height: 500px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

